h1 {
    text-align: center;
    color: rgb(18, 36, 31);
}

h2 {
    text-align: center;
    color: rgb(18, 36, 31);
}

p {
    text-align: center;
    color: rgb(18, 36, 31);
}

body {
    background-color: aquamarine;
}

    .container{
        text-align: center;
    }
